.playerCard{
    position: absolute;
    bottom: 25;
    left: 25;
    width: 400px;
    height: 30vh;
    background: var(--gray-s);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    gap: 10px;
}

.playerInfo,
.playerStat{
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.playerInfo{
    width: 40%;
}

.playerStat{
    padding: 10px 0;
    width: 60%;
    justify-content: space-between;
}

.playerInfo p{
    font-size: 32px;
}

.playerImage{
    border: solid 5px var(--black);
    border-radius: 0.3rem;
}

.stat{
    width: 100%;
    font-size: 32px;
    display: flex;
    gap: 5px;
}

.stat label{
    width: 20%;
}

.max{
    position: relative;
    width: 80%;
    border: solid 5px var(--black);
    border-radius: 1rem;
    background: var(--gray-p);
    color: var(--white);
    overflow: hidden;
}

.nums{
    position: absolute;
    top: -6;
    left: 55;
}