.passiveItem{
    width: 200px;
    border-radius: 0.3rem;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--blue-p),var(--purple-p));
    color: var(--white);
    font-size: 24px;
}

.passiveItem p{
    margin-top: 20px;
}