.container{
    position: fixed;
    background: #000000d5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardInfo{
    width: 550px;
    height: 600px;
    border-radius: 0.3rem;
    background: var(--gray-t);
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.options{
    position: absolute;
    top: 110;
    left: -70;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.option{
    width: 70px;
    height: 80px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-s);
    z-index: 1;
    cursor: pointer;
    transition: 0.2s;
}

.option:hover{
    background: var(--gray-t);
    scale: 1.1;
}

#selected{
    background: var(--gray-t);
    scale: 1.1;
}

.header{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px;
}

.close{
    width: 60px;
    height: 60px;
    background: var(--red-p);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 35px;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.2s;
}

.close:hover{
    scale: 0.9;
    background: var(--red-s);
}