.container{
    min-height: 100vh;
    width: 100%;
    background-image: 
        linear-gradient(#000000cb, #000000cb),
        url(https://i.pinimg.com/originals/14/7e/bc/147ebcb24cff03349a15afdbc500be2c.jpg);
    backdrop-filter: blur(5px); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages{
    margin: 80px 0;
    position: relative;
}

.options{
    position: absolute;
    top: -50px;
    right: 20;
    display: flex;
    gap: 20px;
}

.option {
    width: 150px;
    height: 70px;
    padding: 10px;
    text-align: center;
    background: var(--gray-s);
    border: none;
    border-radius: 0.5rem;
    font-family: var(--font-jacquard-24);
    font-size: 32px;
    font-weight: 700;
    color: var(--purple-p);
    cursor: pointer;
    transition: 0.2s;
    z-index: 0;
}

#optionSelected{
    scale: 1.05;
    background: var(--gray-t);
    box-shadow: 0 0 10px var(--white);
}

.option:hover{
    scale: 1.05;
    background: var(--gray-t);
}

#div{
    width: 940px;
    min-height: 80vh;
    padding: 10px 30px;
    border-radius: 0.5rem;
    background: var(--gray-t);
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

#div h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.basicInfo{
    position: relative;
}

.info{
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.info label{
    margin-right: 10px;
}

.info input{
    width: 250px;
    min-height: 40px;
    padding: 0 10px;
    font-family: var(--font-jacquard-24);
    font-size: 30px;
    background: var(--white);
    border: none;
    border-radius: 0.5rem;
}

.info input:focus{
    outline: none;
    box-shadow: 0 0 10px var(--black);
}

.info div{
    width: 60px;
    height: 60px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border-radius: 0.3rem;
    box-shadow: 0 0 10px var(--black);
    cursor: pointer;
    transition: 0.2s;
}

.maleGender{
    color: var(--blue-t);
}

.femaleGender{
    color: var(--red-p);
}

.info div:hover{
    scale: 1.05;
    box-shadow: 5px 5px 0px var(--black);
}

#selected{
    scale: 1.05;
    box-shadow: 5px 5px 0px var(--black);
}

.info p{
    font-size: 60px;
}

.imageChar{
    position: absolute;
    background: var(--gray-p);
    width: 250px;
    height: 250px;
    top: 80;
    right: 50;
    object-fit: cover;
    object-position: center;
    border: solid 10px var(--gray-p);
    border-radius: 1rem;
}

.statsContent{
    border-top: solid 5px var(--black);
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.atributes{
    width: 50%;
    height: 60vh;
}

.atributes nav{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

.atributes nav label{
    display: flex;
    align-items: center;
}

.icon{
    font-size: 25px;
    margin-right: 5px;
}

.atribute{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.atribute button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.3rem;
    background: var(--gray-s);
    font-family: var(--font-jacquard-24);
    font-size: 40px;
    cursor: pointer;
    transition: 0.1s;
}
.atribute button:hover{
    scale: 0.95;
    background: var(--gray-p);
}

.atribute p {
    width: 55px;
    height: 55px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border: solid 5px var(--gray-p);
    border-radius: 0.3rem;
    font-size: 50px;
}

.statsInfo{
    width: 50%;
    height: 60vh;
    padding-left: 120px;
}

.statsInfo nav{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
}

.statsInfo nav label{
    display: flex;
    align-items: center;
}

.statsInfo nav p{
    margin-left: 20px;
    background: var(--white);
    border-radius: 0.3rem;
    width: 60px;
    text-align: center;
    border: solid 5px var(--gray-p);
}

.skillsPage{
    width: 980px !important;
}

.attacksArea{
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: var(--gray-p);
    border-radius: 0.3rem;
}

.equipedAttacks{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.starterAttaksArea{
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--gray-p);
    border-radius: 0.3rem;
}

.starterAttaks{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.passivesArea{
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: var(--gray-p);
    border-radius: 0.3rem;
}

.passivesList{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.create{
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    background: var(--blue-t);
    border: none;
    border-radius: 1rem;
    font-family: var(--font-jacquard-24);
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s;
}

.create:hover{
    scale: 1.05;
    background: var(--light-blue-p);
}