.wallet{
    position: absolute;
    top: 10;
    right: 20;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-p);
    background: var(--gray-t);
    border: solid 5px var(--gray-p);
    border-radius: 0.5rem;
    width: 160px;
    font-size: 45px;
}