.leave{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30;
    left: 30;
    background: var(--red-p);
    color: var(--white);
    border-radius: .3rem;
    cursor: pointer;
    transition: .2s;
}

.leave:hover{
    scale: .95;
    background: var(--red-s);
    box-shadow: 0 0 10px var(--gray-p);
}