.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet{
    position: absolute;
    top: 10;
    right: 20;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--yellow-p);
    background: var(--gray-s);
    border: solid 5px var(--yellow-p);
    border-radius: 0.5rem;
    width: 180px;
    font-size: 45px;
}