.wraper{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.place{
    cursor: pointer;
    transition: 0.2s;
}

.place:hover{
    scale: 1.1;
}

.title{
    background: var(--gray-t);
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    opacity: 0;
}

.wraper:hover .title{
    opacity: 1;
}