:root{
  --black: #010007;
  --gray-p: #191720;
  --gray-s: #585466;
  --gray-t: #b0a9c7;
  --white: #e4e1f0;
  --purple-p: #170336;
  --purple-s: #320b6d;
  --purple-t: #5116a8;
  --blue-p: #120a5e;
  --blue-s: #281c94;
  --blue-t: #2d18e4;
  --light-blue-p: #2088ce;
  --light-blue-s: #4daae7;
  --light-blue-t: #81c0eb;
  --green-p: #1bda24;
  --green-s: #16c02d;
  --green-s: #119122;
  --yellow-p: #f7f73a;
  --yellow-s: #dada21;
  --yellow-s: #bebe21;
  --orange-p: #eba210;
  --orange-s: #d8940d;
  --orange-s: #b17908;
  --red-p: #f00a1d;
  --red-s: #d40c1d;
  --red-t: #910612;
  --pink-p: #e647a9;
  --pink-s: #c90d81;
  --pink-p: #8d0c5c;

  font-size: 48px;
  color: var(--black);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--font-jacquard-24);
}