.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: 
        linear-gradient(#000000cb, #000000cb),
        url(https://i.pinimg.com/originals/14/7e/bc/147ebcb24cff03349a15afdbc500be2c.jpg);
    backdrop-filter: blur(5px); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;   
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.title{
    color: var(--white);
    background: linear-gradient(to bottom,var(--black),var(--gray-p));
    margin-top: 30px;
    margin-bottom: 90px;
    padding: 20px 40px;
    font-size: 90px;
    font-weight: 500;
    border-radius: 1rem;
}

.btn{
    width: 400px;
    margin: 20px;
    padding: 5px;
    font-size: 50px;
    font-family: var(--font-jacquard-24);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(to right, var(--blue-t),var(--light-blue-s));
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background: linear-gradient(to right, var(--blue-p),var(--blue-t));
    scale: 1.05;
}

#disable{
    cursor: not-allowed;
    scale: 0.9;
    background: linear-gradient(to right, var(--gray-p),var(--gray-s));
}

.version{
    color: var(--white);
    position: absolute;
    bottom: 10;
    right: 10;
}
