.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: 
        linear-gradient(#000000cb, #000000cb),
        url(/images/backgrounds/castelo.jpg);
    backdrop-filter: blur(5px); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;   
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 120px;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--black);
    transition: 2.5s;
}

.overlay p{
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
    transition: 1s;
}

.title{
    width: 800px;
    text-align: center;
    position: fixed;
    color: var(--white);
    background: linear-gradient(to bottom,var(--black),var(--gray-p));
    padding: 20px 40px;
    font-weight: 500;
    border-radius: 1rem;
    z-index: 14;
    left: 50%;
    transform: translateX(-50%);
    transition: 2.5s;
}

.btn{
    width: 450px;
    margin: 20px;
    padding: 5px;
    font-size: 50px;
    font-family: var(--font-jacquard-24);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(to right, var(--blue-t),var(--light-blue-s));
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background: linear-gradient(to right, var(--blue-p),var(--blue-t));
    width: 420px;
    box-shadow: inset 0 0 0px 3px var(--white);
}

#disable{
    cursor: not-allowed;
    scale: 0.9;
    background: linear-gradient(to right, var(--gray-p),var(--gray-s));
}

.version{
    color: var(--white);
    position: absolute;
    bottom: 10;
    right: 10;
}
