.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(5px); 
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-blend-mode: multiply;  
}

.whoseTurn{
    background: var(--gray-t);
    padding: 10px;
    border-radius: .3rem;
    font-size: 1.3rem;
    transition: .5s;
}

.enemyCard{
    position: fixed;
    bottom: 25;
    right: 50;
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    gap: 10px;
}

.enemy {
    height: 160px;
    width: 160px;
    position: relative;
    background: var(--gray-p);
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enemyImage{
    border-radius: 50%;
}

.enemyLevel{
    position: absolute;
    z-index: 4 !important;
    height: 35px;
    width: 35px;
    background: var(--gray-p);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    padding: 15px;
    bottom: -20;
    color: var(--light-blue-s);
    border: solid 5px var(--light-blue-s);
    border-radius: 50%;
}

.enemyStats{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 17%;
    left: -150px;
    width: 200px;
    height: 110px;
    background: var(--gray-p);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
    gap: 10px;
    border: solid 15px var(--gray-p);
}

.statBar {
    width: 100%;
    height: 50%;
    background: var(--black);
    position: relative;
    display: flex;          
    justify-content: flex-end; 
    align-items: center;
}

.statNum{
    color: var(--white);
    position: absolute;
    top: -5;
    right: 25%;
    font-size: 42px;
}

.attackInfo{
    background: #ffffff33;
    padding: 10px;
    position: fixed;
    right: 50;
    border-radius: .5rem;
    box-shadow: 0 10px 10px 10px var(--gray-p);
    transition: 1s;
}

.attackInfo p{
    display: flex;
    align-items: center;
    gap: 10px;
}

.skipTurn {
  width: 200px;
  position: fixed;
  bottom: 180;
  left: 200;
  background: var(--gray-p);
  border-top: solid 5px var(--gray-p);
  border-bottom: solid 5px var(--gray-p);
  color: var(--orange-p);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 0.5rem;
  transition: opacity 0.5s, background 0.2s;
  cursor: pointer;

  clip-path: polygon(
        10% 0,   
        50% 0,     
        90% 0,      
        100% 50%,  
        90% 100%, 
        50% 100%,
        10% 100%,
        0 50%       
    );
}

.skipTurn:hover{
    scale: .98;
    background: linear-gradient(var(--orange-p),var(--red-p));
    color: var(--gray-p);
}

.utils {
  width: 200px;
  position: fixed;
  background: var(--gray-p);
  border-top: solid 5px var(--gray-p);
  border-bottom: solid 5px var(--gray-p);
  color: var(--green-p);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 0.5rem;
  transition: opacity 0.2s, bototm 1s, left 1s, background 0.2s;
  cursor: pointer;

  clip-path: polygon(
        10% 0,   
        50% 0,     
        90% 0,      
        100% 50%,  
        90% 100%, 
        50% 100%,
        10% 100%,
        0 50%       
    );
}

.utils:hover{
    scale: .98;
    background: linear-gradient(var(--light-blue-t),var(--green-p));
    color: var(--gray-p);
}

#utilsS{
    scale: .98;
    background: linear-gradient(var(--light-blue-t),var(--green-p));
    color: var(--gray-p);
}

.attacksButton {
  width: 200px;
  position: fixed;
  left: 200;
  background: var(--gray-p);
  border-top: solid 5px var(--gray-p);
  border-bottom: solid 5px var(--gray-p);
  color: var(--pink-p);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 0.5rem;
  transition: opacity 0.3s, bototm 2s, background 0.2s;
  cursor: pointer;

  clip-path: polygon(
        10% 0,   
        50% 0,     
        90% 0,      
        100% 50%,  
        90% 100%, 
        50% 100%,
        10% 100%,
        0 50%       
    );
}

.attacksButton:hover{
    scale: .98;
    background: linear-gradient(var(--pink-p),var(--purple-t));
    color: var(--gray-p);
}

#attacksButtonS{
    scale: .98;
    background: linear-gradient(var(--pink-p),var(--purple-t));
    color: var(--gray-p);
}

.recoverCon{
    position: fixed;
    bottom: 60;
    background: var(--black);
    padding: 20px;
    display: flex;
    border-top: solid 5px var(--gray-t);
    border-bottom: solid 5px var(--gray-t);
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: visible;
    transition: .5s;

    clip-path: polygon(
        10% 0,   
        50% 0,     
        90% 0,      
        100% 50%,  
        90% 100%, 
        50% 100%,
        10% 100%,
        0 50%       
    );
}

.recoverItem{
    width: 100px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--white);
    transition: .2s;
    clip-path: polygon(
        20% 0,   
        50% 0,     
        80% 0,      
        100% 50%,  
        80% 100%, 
        50% 100%,
        20% 100%,
        0 50%       
    );
}

.recoverItem:hover{
    width: 200px;
    padding-left: 30px;
    clip-path: polygon(
        13% 0,   
        50% 0,     
        87% 0,      
        100% 50%,  
        87% 100%, 
        50% 100%,
        13% 100%,
        0 50%       
    );
}

.recoverInfo{
    display: none;
}

.recoverItem:hover .recoverIcon{
    display: none;
}

.recoverItem:hover .recoverInfo{
    display: block;
    font-size: .5rem;
}

#desable{
    background: linear-gradient(var(--gray-s),var(--gray-p));
}

.attacksCon{
    position: fixed;
    bottom: 50;
    display: grid;
    padding: 20px 5px;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--black);
    border-left: solid 10px var(--white);
    border-right: solid 10px var(--white);
    border-radius: .3rem;
    justify-items: center;
    align-items: center;
    gap: 10px;
    transition: .5s;
}

.lost{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--red-p);
    transition: 1s;
}

.lost h2{
    font-size: 3rem;
    text-shadow: 0 0 2px var(--red-p);
    margin-bottom: 50px;
}

.lost p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.lost div{
    margin-top: 30px;
    text-align: center;
    width: 20%;
    font-size: 1.5rem;
    color: var(--white);
    border-radius: .5rem;
    background: linear-gradient(var(--red-p), var(--red-t));
    cursor: pointer;
    transition: .2s;
}

.lost div:hover{
    scale: .9;
    filter: brightness(1.5);
    box-shadow: 0 0 10px var(--red-p);
}

.win{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--gray-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-blue-t);
    transition: 1s;
}

.win h2{
    font-size: 3rem;
    text-shadow: 0 0 2px var(--blue-t);
    margin-bottom: 50px;
}

.win p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--yellow-p);
    margin-bottom: 20px;
}

.win div{
    margin-top: 30px;
    text-align: center;
    width: 20%;
    font-size: 1.5rem;
    color: var(--gray-p);
    border-radius: .5rem;
    background: linear-gradient(var(--yellow-p), var(--orange-t));
    cursor: pointer;
    transition: .2s;
}

.win div:hover{
    scale: .9;
    filter: brightness(1.5);
    box-shadow: 0 0 10px var(--yellow-p);
}