.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-image: 
        url('/images/backgrounds/entradaColiseu.jpg'),
        linear-gradient(#00000080, #00000080)
        ;
    backdrop-filter: blur(5px); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;  
}

.container h2{
    padding: 10px 40px;
    border-radius: .5rem;
    font-size: 2rem;
    background: linear-gradient(var(--gray-t),var(--gray-s));
    color: var(--gray-p);
    margin-bottom: 20px;
}

.challenger{
    background: linear-gradient(var(--gray-t),var(--gray-s));
    min-height: 312px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 0.5rem;
    padding: 20px 0;
    margin-bottom: 30px;
}

.challenger p{
    width: 100%;
    border-top: solid 5px var(--gray-p);
    text-align: center;
    font-size: 1.2rem;
    color: var(--gray-p);
}

.findChallenger{
    font-family: var(--font-jacquard-24);
    background: var(--gray-p);
    color: var(--red-p);
    border: none;
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-size: 1.3rem;
    transition: 0.2s;
}

.findChallenger:hover{
    scale: .95;
    box-shadow: 0 0 20px 10px var(--red-p);
    background: linear-gradient(var(--red-p),var(--red-t));
    color: var(--paper);
}

.countdown{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000cc;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-size: 8em;
    color: var(--red-p);
    font-family: var(--font-jacquard-48);
    text-shadow: 0 0 20px var(--red-p);
    border: solid 20px var(--red-p);
    border-radius: 50%;
    box-shadow: 0 0 30px 10px var(--red-p);
    height: 300px;
    width: 300px;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}