.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.background{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: 
        url('/images/backgrounds/campoTreinamento.jpg'),
        linear-gradient(#00000080, #00000080)
        ;
    backdrop-filter: blur(5px); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.container h1{
    padding: 20px 40px;
    border-radius: .5rem;
    font-size: 1.5rem;
    background: linear-gradient(var(--white),var(--gray-s));
    color: var(--black);
    margin-bottom: 20px;
}

.shop{
    width: 80%;
    padding: 30px;
    border-radius: 0.5rem;
    background: var(--gray-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

.options{
    display: flex;
    gap: 20px;
}

.option{
    width: 230px;
    border-radius: .3rem;
    text-align: center;
    background: var(--blue-t);
    color: var(--white);
    padding: 5px;
    cursor: pointer;
    transition: .2s;
}

.option:hover{
    scale: .95;
    background: var(--blue-p);
}

#selected{
    scale: .95;
    background: var(--blue-p);
}

.items{
    width: 100%;
    min-height: 50vh;
    background: var(--gray-p);
    border-top: solid 5px var(--white);
    border-bottom: solid 5px var(--white);
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}